<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename='robot_base.xacro'></xacro:include>
    <xacro:include filename='gazebo_sim_control.xacro'></xacro:include>
    <xacro:include filename='lidar_control.xacro'></xacro:include>
    <xacro:include filename='gz_camera_control.xacro'></xacro:include>

</robot>
